%h1
  group.index


- if current_user.group
  - if current_user.group.leader == current_user.id
    .group-delete
      .btn
        = link_to 'グループ削除', "/groups/#{current_user.group.id}", method: :delete
- else
  .group-create
    .btn
      = link_to 'グループ作成', new_group_path

- @groups.each do |group|
  %ul
    = link_to "#{group.name}", group_path(group)
    - group.users.order(:name).each do |user|
      %li
        = user.name