.wrapper
  .container
    - if current_user.group
      - if @current_group.leader == current_user.id
        .group-delete
          = link_to "/groups/#{@current_group.id}", method: :delete do
            .btn
              グループ解散
    - else
      .group-create
        .btn
          = link_to 'グループ結成', new_group_path

    .groups
      - if @current_group
        .groups__current_group
          <所属グループ>
          %ul.group
            .group__name
              = link_to "#{@current_group.name}", group_path(@current_group)
              - if @current_group.quest
                .on-quest
                  <クエスト挑戦中>
              - else
                .off-quest
                  <クエスト待機中>
            .group__user-name
              - @current_group.users.order(:name).each do |user|
                %li
                  = link_to user.name, user_path(user)
      .groups__other-group
        <他のグループ>
        - @groups.each do |group|
          %ul.group
            .group__name
              = link_to "#{group.name}", group_path(group)
              - if group.quest
                .on-quest
                  <クエスト挑戦中>
              - else
                .off-quest
                  <クエスト待機中>
            .group__user-name
              - group.users.order(:name).each do |user|
                %li
                  = link_to user.name, user_path(user)