%h1.user_name
  = "#{@user.name}のマイページ"
- if current_user.id == @user.id
  .create-log.btn
    = link_to '学習ログを記録', new_user_log_path(@user)
%table.table
  %thead
    %tr
      %th{scope: 'col'}
        index
      %th{scope: 'col'}
        学習日付
      %th{scope: 'col'}
        学習時間
      - if @user.id == current_user.id
        %th{scope: 'col'}
        %th{scope: 'col'}
  %tbody
    - @logs.each.with_index(1) do |log, index|
      %tr
        %td
          = index
        %td
          = log.achieve_ymd
        %td
          = log.achieve_time
        - if @user.id == current_user.id
          %td
            = link_to '編集', edit_user_log_path(@user, log)
          %td
            = link_to '削除', "/users/#{@user.id}/logs/#{log.id}", method: :delete
%h2
  倒した敵
- @user.enemies.each do |enemy|
  %h2
    = enemy.name
  .record-image
    = image_tag enemy.image, height: '200', width: '200'