= group.name
.enemy-info
  %h1
    = enemy.name
    = "HP：#{enemy.get_current_hp(group)} / #{enemy.get_full_hp(group)}"
  %h2
    = "残り日数：#{group.quest.remain_days}日"
    = "経過日数：#{group.quest.get_passed_days}日"
    = "開始日：#{group.quest.created_at.to_date}"
    = "終了日：#{group.quest.created_at.to_date + 14}"
  %div
    = "一人あたりの学習目安時間：#{enemy.hp}h"

.enemy-image
  = image_tag enemy.image, height: '500'
.group-info.row
  - group.users.each do |user|
    .group-info__user.col
      .group-info__user--name
        = user.name
      .group-info__user--progress
        = "進捗率：#{(user.get_quest_term_achieve_time.to_f / enemy.hp * 100).round}%"
      .group-info__user--achieve-time
        = "学習時間：#{user.get_quest_term_achieve_time}"