!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title StudyQuest
    = csrf_meta_tags
    = csp_meta_tag
    = Gon::Base.render_data
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{rel: "stylesheet", href: "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", integrity: "sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin: "anonymous"}
    %script{src: "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity: "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin: "anonymous"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js", integrity: "sha256-36hEPcG8mKookfvUVvEqRkpdYV1unP6wvxIqbgdeVhk=", crossorigin: "anonymous"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity: "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin: "anonymous"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %header.header.nabver.navbar-dark.bg-dark.navbar-expand-sm
      .navbar-brand.text-white
        = link_to 'Study Quest', root_path
      .float-right
        %button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          %span(class="navbar-toggler-icon")
        .collapse.navbar-collapse#navbarNav
          %ul.navbar-nav.user_nav
            %li.nav-item
              = link_to 'Ranking', users_path, class: 'nav-link'
            - if user_signed_in?
              %li.nav-item
                = link_to 'Mypage', "/users/#{current_user.id}", class: 'nav-link', data: {turbolinks: false}
              %li.nav-item
                = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link'
            - else
              %li.nav-item
                = link_to 'Sign in', new_user_session_path, class: 'nav-link'
              %li.nav-item
                = link_to "Sign up", new_user_registration_path, class: 'nav-link'
    = render 'layouts/notifications'
    = yield